{% extends 'base.html' %}
{% load static %}

{% block content %}
<br><br><br>
<div style="width: 100%;">
    <div class="banner">
        <video autoplay muted loop>
            <source src="/static/image_&_video/ibanez.mp4" type="video/mp4">
        </video>
        <h1>Demontaža</h1>
    </div>
</div>

<div class="container" id="home_page">
    <h3 class="text-center">Dobrodošli na društvenu mrežu za ljubitelje dobre muzike</h3>
    <br>
    <h5><b>Demontaža</b> je doživela redizajn ! ! !</h5>
    <p class="text-justify">
        Bitno je naglasiti da promene nisu samo vizuelne prirode! Dodali smo veliki broj novih mogućnosti, ispravili
        stare greške i još mnogo toga. Najbolje je da se sami uverite. <a href="account/login/">Ulogujte se na svoj
        nalog</a> ili ako ga već nemate <a href="account/create/">kreirajte jedan</a>.
    </p>
    <p>
        Spisak samo nekih mogućnosti možete videti u listi ispod:
    </p>
    <ul>
        <li>
            Od sada možete kreirati lične objave
        </li>
        <li>
            Možete sklapati prijateljstva i pratiti objave drugih korisnika
        </li>
        <li>
            Korisnik sada može kreirati više stranica
        </li>
        <li>
            Dodali smo mogućnost da kreator stranice benda može dodati i administratore te stranice sa spiska svojih
            prijatelja
        </li>
        <li>
            Polje za pretragu više nije ograničeno samo na bendove, već u njemu možete tražiti i korisnike
        </li>
    </ul>
    <p class="text-justify">
        Stare mogućnosti su zadržane a nove sa prethodne liste su dodate. Još jedan od uzbudljivih noviteta je
        saradnja sa <b>Demoliranjem !</b> Od sada na našoj mreži će te moći da pratite sve objave sa <b>Demoliranja</b>
        u vidu blog strane.
    </p>
    <br>
    <div class="row">
        <div class="col-lg-6">
            <div class="container d-flex h-100">
                <div class="row justify-content align-self-center">
                    <p class="text-justify">
                        Ovo su samo neki od bendova na <b>DEMONTAŽA</b> društvenoj mreži. Saznajte više, priključite se
                        našoj priči i podržite scenu.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            {% if bands_list %}
            {% load thumbnail %}
            <div class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner frame">
                    {% for band in bands_list %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}" data-interval="5000">
                        <img src="{% thumbnail band.band_picture 480x0 %}" alt="{{ band.name }}">
                        <div class="carousel-caption" style="right: 0; left: 0;">
                            <h4>
                                {{ band.name }}
                            </h4>
                        </div>
                    </div>
                    {% endfor%}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <br>
</div>
{% endblock %}