{% extends 'base.html' %}

{% block content %}
<br><br>
<div class="container">
    <br><br><br>
    <h3 class="page-titles"><i class="fas fa-rss"></i>
        {% if user_create_news %}Nova objava korisnika {{ user.first_name }} {{ user.last_name }}
        {% elif band_create_news %}Nova objava benda {{ band.name }}{% endif %}
    </h3>
    <br>
    <form method="post" action="." enctype="multipart/form-data" id="create_news"> {% csrf_token %}
        {{ form.media }}
        <div class="text-center">
            {% if form.non_field_errors %}
            {{ form.non_field_errors }}
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form.title }}
                <br><br>
                {{ form.news }}
                <div class="text-right">
                    <small style="color:#a6111a;">* Ovde unesite tekst objave.</small>
                </div>
                <br>
            </div>
            <div class="col-md-6 text-center">
                {% if form.yt_video.errors %}
                {{ form.yt_video.errors }}
                {% endif %}
                {{ form.yt_video }}
                <br><br>
                {% if form.fb_event.errors %}
                {{ form.fb_event.errors }}
                {% endif %}
                {{ form.fb_event }}
                <br>
                <img id="news_image_upload" src="/static/image_&_video/picture_of_bend.png" class="img-fluid"
                     style="max-height:200px; padding: 10px;">
                <br>
                <label for="news_picture"
                       style="cursor: pointer;"
                       class="btn btn-block"
                       id="news_picture_dugme">Dodaj sliku objave ili događaja</label>
                <input type="file" name="news_picture" id="news_picture" style="display:none;">
                <div class="text-right">
                    <small style="color:#a6111a;">* Slika ne može biti veća od 2,5mb.</small>
                </div>
                <br>
            </div>
        </div>
        <button type="submit"
                class="btn btn-block"
                name="news_create"
                id="id_sacuvaj">Kreiraj objavu</button>
    </form>
    <br>
</div>

<script>
    function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#news_image_upload').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
        }
    }

    $("#news_picture").change(function(){
        readURL(this);
    });
</script>

<script>
    $("#create_news").submit(function() {
        if (window.File && window.FileReader && window.FileList && window.Blob) {
            var picture = $('#news_picture')[0].files[0];

        if (picture && picture.size > 2 * 1024 * 1024) {
            alert("Slika '" + picture.name + "' koju ste odabrali\nza poster događaja je prevelika.\nNajveća dozvoljena veličina je 2.5mb.");
            return false;
            }
        }
    });
</script>

{% endblock %}