{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}

<!-- Modals -->
<div class="modal fade" id="create_comment_modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content frame">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Napiši Komentar</h5>
            </div>

            <!-- Modal body -->
            <form method="post" action="." name="create_user_comment"> {% csrf_token %}
                <div class="modal-body">
                    <div class="comment_text">
                        <div class="comment-text-field frame" id="mytextarea" contentEditable="true">
                            <p>{{ comment.text|safe }}</p>
                        </div>
                        <div class="emojis">
                            <span id="heartbroken">&#128148</span>
                            <span id="shit">&#128169</span>
                            <span id="lol">&#128514</span>
                            <span id="wink">&#128521</span>
                            <span id="love">&#128525</span>
                            <span id="angry">&#128545</span>
                            <span id="sad">&#128557</span>
                            <span id="smile">&#128578</span>
                            <span id="think">&#129300</span>
                            <span id="horns">&#129304</span>
                            <span id="like">&#128077</span>
                            <span id="dislike">&#128078</span>
                            <span id="applause">&#128079</span>
                            <span id="finger">&#128405</span>
                        </div>
                        <script>
                            $("#heartbroken").click(function() {
                                $("#mytextarea").append('💔');
                            });
                            $("#shit").click(function() {
                                $("#mytextarea").append('💩');
                            });
                            $("#lol").click(function() {
                                $("#mytextarea").append('😂');
                            });
                            $("#wink").click(function() {
                                $("#mytextarea").append('😉');
                            });
                            $("#love").click(function() {
                                $("#mytextarea").append('😍');
                            });
                            $("#angry").click(function() {
                                $("#mytextarea").append('😡');
                            });
                            $("#sad").click(function() {
                                $("#mytextarea").append('😭');
                            });
                            $("#smile").click(function() {
                                $("#mytextarea").append('🙂');
                            });
                            $("#think").click(function() {
                                $("#mytextarea").append('🤔');
                            });
                            $("#horns").click(function() {
                                $("#mytextarea").append('🤘');
                            });
                            $("#like").click(function() {
                                $("#mytextarea").append('👍');
                            });
                            $("#dislike").click(function() {
                                $("#mytextarea").append('👎');
                            });
                            $("#applause").click(function() {
                                $("#mytextarea").append('👏');
                            });
                            $("#finger").click(function() {
                                $("#mytextarea").append('🖕');
                            });
                        </script>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <span class="mr-auto">
                        <button type="button"
                                class="btn"
                                data-dismiss="modal"
                                id="no_create">Ne</button>
                    </span>
                    <button type="submit"
                            name="update_comment"
                            class="btn"
                            value="{{ user.id }}"
                            data-dismiss="modal"
                            id="yes_create_comment">Da</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="newsDelete">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content frame">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-trash fa-lg"></i>&nbsp;&nbsp;Obriši vest</h5>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="text-justify">
                    <h6 class="text-center">Da li ste sigurni da želite da obrišete ovu vest?</h6>
                </div>
            </div>

            <form method="post" action="." name="delete"> {% csrf_token %}
            <!-- Modal footer -->
            <div class="modal-footer">
                <span class="mr-auto">
                    <button type="button"
                            class="btn"
                            data-dismiss="modal"
                            id="no">Ne</button>
                </span>
                <button type="submit"
                        name="delete_news"
                        class="btn"
                        id="yes">Da</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- End Modals -->

<br><br>
<div class="container">
    <br><br><br>
    <div class="loading-bar">
        <div id="animacija-ajax" class="text-center">
            <img src="/static/image_&_video/loader.gif">
            <h2>UČITAVANJE...</h2>
        </div>
    </div>
    <div class="frame back_color">
        <div class="row">
            <div class="{% if news_data.news_picture %}col-lg-7{% else %}col-lg-0{% endif %}">
                <div class="row align-items-center h-100">
                    <div class="col-12 mx-auto">
                        {% if news_data.news_picture %}
                        <img id="news_image" src="{{ news_data.news_picture.url }}"
                             class="img-fluid" style="margin-bottom:10px;">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="{% if news_data.news_picture %}col-lg-5{% else %}col-lg-12{% endif %}">
                <div style="display:flex;">
                    {% if news_data.band %}
                    <a href="{% url 'bands:account_band_page' news_data.band.id %}">
                        {% if news_data.band.logo %}
                        <img class="avatar-like" src="{% thumbnail news_data.band.logo 200x0 %}">
                        {% else %}
                        <h6><i class="fas fa-guitar fa-2x"></i></h6>
                        {% endif %}
                    </a>
                    <div>
                        <a href="{% url 'bands:account_band_page' news_data.band.id %}">
                            <h6 class="news-name">{{ news_data.band.name }}</h6>
                        </a>
                        <small class="news-date">{{ news_data.updated|date:"d" }}.{{ news_data.updated|date:"m" }}.{{ news_data.updated|date:"Y" }}.</small>
                    </div>
                    {% else %}
                    <a href="{% url 'account:account_profile' news_data.creator.id %}">
                        {% if news_data.creator.profile.picture %}
                        <img class="avatar-like" src="{% thumbnail news_data.creator.profile.picture 150x0 %}">
                        {% else %}
                        <h6><i class="fas fa-user-circle fa-2x"></i></h6>
                        {% endif %}
                    </a>
                    <div>
                        <a href="{% url 'account:account_profile' news_data.creator.id %}">
                            <h6 class="news-name">{{ news_data.creator.first_name }} {{ news_data.creator.last_name }}</h6>
                        </a>
                        <small class="news-date">{{ news_data.updated|date:"d" }}.{{ news_data.updated|date:"m" }}.{{ news_data.updated|date:"Y" }}.</small>
                    </div>
                    {% endif %}
                </div>
                {% if user == news_data.creator or user in news_data.band.admins.all %}
                <div style="display:flex;" id="band-menu">
                    <div class="link">
                        {% if news_data.band %}
                        <a href="{% url 'news:band_edit_news' news_data.band.id news_data.id %}">UREDI VEST</a>
                        {% else %}
                        <a href="{% url 'news:user_edit_news' news_data.id %}">UREDI VEST</a>
                        {% endif %}
                    </div>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <div class="link">
                        <a href="#" data-toggle="modal" data-target="#newsDelete">OBRIŠI VEST</a>
                    </div>
                </div>
                {% endif %}
                {% if news_data.title %}
                <h3>{{ news_data.title }}</h3>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="{% if news_data.yt_video %}col-lg-7{% else %}col-lg-12{% endif %}">
                {% if news_data.news %}
                {{ news_data.news|safe }}
                {% endif %}
                {% if news_data.fb_event %}
                <a href="{{ news_data.fb_event }}" target="_blank">Pogledaj događaj na Facebook-u ...</a>
                <br>
                {% endif %}
            </div>
            <div class="{% if news_data.yt_video %}col-lg-5{% else %}col-lg-0{% endif %} text-center">
                {% if news_data.yt_video %}
                <div class="row align-items-center h-100">
                    <div class="col-12 mx-auto">
                        <iframe width="100%" height="250" src="{{ news_data.yt_video }}"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <br>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <h6>Komentari:</h6>
    <div class="link" style="margin-bottom:10px;">
        <a href="#"
           data-toggle="modal"
           data-target="#create_comment_modal"><i class="far fa-comment"></i> Postavi komentar</a>
    </div>

    <div class="comments">
        {% if news_comments %}
        {% for comment in news_comments %}
        <div class="comment frame">
            <div style="display: flex;">
                <a href="{% url 'account:account_profile' comment.user.id %}">
                    {% if comment.user.profile.picture %}
                    <img class="avatar-like" src="{% thumbnail comment.user.profile.picture 150x0 %}">
                    {% else %}
                    <h6><i class="fas fa-user-circle fa-2x"></i></h6>
                    {% endif %}
                </a>
                <div>
                    <a href="{% url 'account:account_profile' comment.user.id %}">
                        <h6 class="news-name">{{ comment.user.first_name }} {{ comment.user.last_name }}</h6>
                    </a>
                    <small class="news-date">{{ comment.created|date:"d" }}.{{ comment.created|date:"m" }}.{{ comment.created|date:"Y" }}.</small>
                </div>
            </div>
            <p>{{ comment.text|safe }}</p>
            {% if comment.user == user %}
            <!-- Modals for comments -->
            <div class="modal fade" id="update_comment_modal{{ comment.id }}">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content frame">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title"><i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Uredi Komentar</h5>
                        </div>

                        <!-- Modal body -->
                        <form method="post" action="." name="update_user_comment"> {% csrf_token %}
                            <div class="modal-body">
                                <div id="comment_text">
                                    <div class="comment-text-field frame" id="mytextarea{{ comment.id }}" contentEditable="true">
                                        <p>{{ comment.text|safe }}</p>
                                    </div>
                                    <div class="emojis">
                                        <span id="heartbroken{{ comment.id }}">&#128148</span>
                                        <span id="shit{{ comment.id }}">&#128169</span>
                                        <span id="lol{{ comment.id }}">&#128514</span>
                                        <span id="wink{{ comment.id }}">&#128521</span>
                                        <span id="love{{ comment.id }}">&#128525</span>
                                        <span id="angry{{ comment.id }}">&#128545</span>
                                        <span id="sad{{ comment.id }}">&#128557</span>
                                        <span id="smile{{ comment.id }}">&#128578</span>
                                        <span id="think{{ comment.id }}">&#129300</span>
                                        <span id="horns{{ comment.id }}">&#129304</span>
                                        <span id="like{{ comment.id }}">&#128077</span>
                                        <span id="dislike{{ comment.id }}">&#128078</span>
                                        <span id="applause{{ comment.id }}">&#128079</span>
                                        <span id="finger{{ comment.id }}">&#128405</span>
                                    </div>
                                    <script>
                                        $("#heartbroken{{ comment.id }}").click(function() {
                                            $("#mytextarea{{ comment.id }}").append('💔');
                                        });
                                        $("#shit{{ comment.id }}").click(function() {
                                            $("#mytextarea{{ comment.id }}").append('💩');
                                        });
                                        $("#lol{{ comment.id }}").click(function() {
                                            $("#mytextarea{{ comment.id }}").append('😂');
                                        });
                                        $("#wink{{ comment.id }}").click(function() {
                                            $("#mytextarea{{ comment.id }}").append('😉');
                                        });
                                        $("#love{{ comment.id }}").click(function() {
                                            $("#mytextarea{{ comment.id }}").append('😍');
                                        });
                                        $("#angry{{ comment.id }}").click(function() {
                                            $("#mytextarea{{ comment.id }}").append('😡');
                                        });
                                        $("#sad{{ comment.id }}").click(function() {
                                            $("#mytextarea{{ comment.id }}").append('😭');
                                        });
                                        $("#smile{{ comment.id }}").click(function() {
                                            $("#mytextarea{{ comment.id }}").append('🙂');
                                        });
                                        $("#think{{ comment.id }}").click(function() {
                                            $("#mytextarea{{ comment.id }}").append('🤔');
                                        });
                                        $("#horns{{ comment.id }}").click(function() {
                                            $("#mytextarea{{ comment.id }}").append('🤘');
                                        });
                                        $("#like{{ comment.id }}").click(function() {
                                            $("#mytextarea{{ comment.id }}").append('👍');
                                        });
                                        $("#dislike{{ comment.id }}").click(function() {
                                            $("#mytextarea{{ comment.id }}").append('👎');
                                        });
                                        $("#applause{{ comment.id }}").click(function() {
                                            $("#mytextarea{{ comment.id }}").append('👏');
                                        });
                                        $("#finger{{ comment.id }}").click(function() {
                                            $("#mytextarea{{ comment.id }}").append('🖕');
                                        });
                                    </script>
                                </div>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <span class="mr-auto">
                                    <button type="button"
                                            class="btn"
                                            data-dismiss="modal"
                                            id="no_update">Ne</button>
                                </span>
                                <button type="submit"
                                        name="update_comment"
                                        class="btn"
                                        value="{{ comment.id }}"
                                        data-dismiss="modal"
                                        id="yes_update_comment{{ comment.id }}">Da</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="delete_comment_modal{{ comment.id }}">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content frame">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title"><i class="fas fa-trash"></i>&nbsp;&nbsp;Obriši Komentar</h5>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <p>Da li ste sigurni da želite da obrišete vaš komentar?</p>
                        </div>

                        <form method="post" action="." name="update_user_comment"> {% csrf_token %}
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <span class="mr-auto">
                                <button type="button"
                                        class="btn"
                                        data-dismiss="modal"
                                        id="no_delete">Ne</button>
                            </span>
                            <button type="submit"
                                    name="delete_comment"
                                    class="btn"
                                    value="{{ comment.id }}"
                                    data-dismiss="modal"
                                    id="yes_delete_comment{{ comment.id }}">Da</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end of modal -->
            <div style="display:flex; margin-top:-1rem;" id="comment-links">
                <div class="link">
                    <a href="#" data-toggle="modal"
                       data-target="#update_comment_modal{{ comment.id }}">UREDI KOMENTAR</a>
                </div>&nbsp;&nbsp;|&nbsp;&nbsp;
                <div class="link">
                    <a href="#" data-toggle="modal"
                       data-target="#delete_comment_modal{{ comment.id }}">OBRIŠI KOMENTAR</a>
                </div>
            </div>
            <!-- Updating news comment -->
            <script type="text/javascript">
                $(document).ready(function(event){

                    $(document).on('click', '#yes_update_comment{{ comment.id }}', function(event){

                        event.preventDefault();
                        var text = $("#mytextarea{{ comment.id }}").text();
                        var comment_id = $("#yes_update_comment{{ comment.id }}").val();
                        var self = $(this);
                        $(".loading-bar").css("display", "block");

                        $.ajax({
                            type: 'POST',
                            url: '/news/display/{{ news_data.id }}/',
                            data: {
                                'text': text,
                                'comment_id': comment_id,
                                'update_comment': 'update_comment',
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                            dataType: 'json',
                            success: function(response){
                                $('.comments').html(response['form']);
                                $(".loading-bar").css("display", "none");
                            }
                        });
                    });
                });
            </script>

            <!-- Deleting news comment -->
            <script type="text/javascript">
                $(document).ready(function(event){

                    $(document).on('click', '#yes_delete_comment{{ comment.id }}', function(event){

                        event.preventDefault();
                        var comment_id = $("#yes_delete_comment{{ comment.id }}").val();
                        var self = $(this);
                        $(".loading-bar").css("display", "block");

                        $.ajax({
                            type: 'POST',
                            url: '/news/display/{{ news_data.id }}/',
                            data: {
                                'delete_comment': 'delete_comment',
                                'comment_id': comment_id,
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                            dataType: 'json',
                            success: function(response){
                                $('.comments').html(response['form']);
                                $(".loading-bar").css("display", "none");
                            }
                        });
                    });
                });
            </script>
            {% endif %}
        </div>
        {% endfor %}
        {% endif %}
    </div>

</div>
<br>
<script type="text/javascript">
    $(document).ready(function(event){

        $(document).on('click', '#yes_create_comment', function(event){

            event.preventDefault();
            var text = $("#mytextarea").text();
            var user_id = $("#yes_create_comment").val();
            var self = $(this);
            $(".loading-bar").css("display", "block");

            $.ajax({
                type: 'POST',
                url: '/news/display/{{ news_data.id }}/',
                data: {
                    'text': text,
                    'user_id': user_id,
                    'create_comment': 'create_comment',
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function(response){
                    $('.comments').html(response['form']);
                    $(".loading-bar").css("display", "none");
                }
            });
        });
    });
</script>
{% endblock %}