{% extends 'base.html' %}

{% block content %}
<br><br>
<div class="container">
    <br><br><br>
    <h3 class="page-titles"><i class="fas fa-home"></i> Najnovije vesti i objave</h3>
    <br>
    {% if friend_requests and user == guest_user %}
    {% include "account/friend_request.html" %}
    {% endif %}
    <div class="link">
        <a href="{% url 'news:user_create_news' %}" style="font-size:17px;"><i class="fas fa-feather-alt"></i> Kreiraj objavu...</a>
    </div>
    <br>
    {% if guest_news %}
    {% for news in guest_news %}
    {% include "news/news.html" %}
    <br>
    {% endfor %}
    {% else %}
    <h6 class="text-center">Korisnik trenutno nema objava.</h6>
    {% endif %}
</div>
{% endblock %}