{% extends 'base.html' %}
{% load static %}

{% block content %}
<br><br>
<div class="container">
    <br><br><br>
    <h3 class="page-titles"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;Keiraj svoj nalog</h3>
    <p>Odaberite način kreiranja naloga na sajtu</p>
    <div class="row" id="account_creation">
        <div class="col-lg-7">
            <form method="post">
                {{ user_form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Kreiraj moj nalog"></p>
            </form>
        </div>
        <div class="col-lg-5"></div>
    </div>
</div>
{% endblock %}