{% extends 'base.html' %}

{% block content %}
<br><br>
<div class="container">
    <br><br><br>
    <h3 class="page-titles"><i class="fas fa-unlock-alt"></i>&nbsp;&nbsp;Zaboravio sam lozinku</h3>
    <p>Promena lozinke putem vaše email adrese</p>
    <div class="row">
        <div class="col-lg-6">
            <form class="text-center" method="post" action="."> {% csrf_token %}
                {% if form.errors %}
                <script>
                    $('#wrongUser').modal('show')
                </script>
                {% endif %}
                <div class="fieldWrapper">
                    <input type="text" onload="focus()" name="email" required="" id="id_email" placeholder="Vaš email"
                            oninvalid="this.setCustomValidity('Molimo vas unesite vašu email adresu.')"
                            oninput="setCustomValidity('')">
                    <label>Email:</label>
                </div>
                <br>
                <div style="display: flex;">
                    <a href="/account/login" class="btn btn-block" style="margin-right: 3px;">Nazad</a>
                    <br>
                    <button class="btn btn-block" type="submit" style="margin-left: 3px;">Pošalji
                    </button>
                </div>
            </form>
            <br>
        </div>
        <div class="col-lg-6">
            <h5><i class="fas fa-tasks"></i>&nbsp;&nbsp;&nbsp;Uputstvo</h5>
            <div class="manuel">
                <ul>
                    <li>Molimo vas unesite vašu email adresu koju ste koristili prilikom kreiranja naloga.</li>
                    <li>Kliknite na "POŠALJI" dugme.</li>
                    <li>E-mail sa novom lozinkom će vam uskoro biti poslat.</li>
                    <li>Kada vam stigne e-mail, upotrebite novu lozinku da bi ste se ulogovali na vaš nalog.</li>
                </ul>
            </div>
        </div>
    </div>
    <br>
</div>
{% endblock %}